<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

  <form class="form-search-producto">
    <h2>Productos<span class="icon-cart"></span></h2>

    <input type="text" name="txtSearch" placeholder="buscar" class="textBox">
    <button type="submit" class="boton"><span class="icon-search"></span></button>

    <table>
      <tr>
        <td><label>Producto:</label></td>
        <td class="tdInputs"><input type="text" name="txtProducto" class="textBoxEdit"></td>
      </tr>
      <tr>
        <td><label>Descripcion:</label></td>
        <td class="tdInputs"><input type="text" name="txtDescripcion" class="textBoxEdit"></td>
      </tr>
      <tr>
        <td><label>Precio:</label></td>
        <td class="tdInputs"><input type="text" name="txtPrecio" class="textBoxEdit"></td>
      </tr>
      <tr>
        <td><label>Existencia:</label></td>
        <td class="tdInputs"><input type="text" name="txtExistencia" class="textBoxEdit"></td>
      </tr>
      <tr>
        <td><label>Provedor:</label></td>
        <td class="tdInputs"><input type="text" name="txtProvedor" class="textBoxEdit"></td>
      </tr>
    </table>

    <button type="submit" class="btnAceptar"><span class="icon-plus"></span></button>
    <button type="submit" class="btnCancelar"><span class="icon-bin2"></span></button>
    <button type="submit" class="btnEditar"><span class="icon-pencil"></span></button>

  </form>

</body>
</html>
