<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>

  <form class="form-search-provedor">

    <h2>{{ nombre }}<span class="icon-users"></span></h2>
    <input type="text" name="txtSearch" placeholder="buscar" class="textBox">
    <button type="submit" class="boton"><span class="icon-search"></span></button>

    <table>
      <tr>
        <td><label>Provedor:</label></td>
        <td class="tdInputs"><input type="text" name="txtSearch" class="textBox"></td>
      </tr>
      <tr>
        <td><label>Direccion:</label></td>
        <td class="tdInputs"><input type="text" name="txtSearch" class="textBox"></td>
      </tr>
      <tr>
        <td><label>Telefono:</label></td>
        <td class="tdInputs"><input type="text" name="txtSearch" class="textBox"></td>
      </tr>
    </table>

    <button type="submit" class="btnAceptar"><span class="icon-plus"></span></button>
    <button type="submit" class="btnCancelar"><span class="icon-bin2"></span></button>
    <button type="submit" class="btnEditar"><span class="icon-pencil"></span></button>

  </form>

</body>
</html>
