.form-search-provedor {
  width: 500px;
  margin: auto;
  background-color: none;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  border: none;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px;
  color: #098fff;
}

.textBox {
  width: 85%;
  margin-bottom: 10px;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  border-radius: 50px;
  background-color: #f1f1f1;
}

.boton {
  padding: 7px;
  box-sizing: border-box;
  border: none;
  background-color: #098fff;
  border-radius: 100px;
  height: 30px;
  color: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.tdInputs {
  width: 400px;
}

.btnAceptar {
  padding: 7px;
  box-sizing: border-box;
  border: none;
  background-color: #2fcd2f;
  border-radius: 100px;
  height: 30px;
  color: white;
  font-weight: bold;
  width: 60px;
  height: 40px;
  float: right;
  margin-left: 5px;
}

.btnCancelar {
  padding: 7px;
  box-sizing: border-box;
  border: none;
  background-color: #ff0000;
  border-radius: 100px;
  height: 30px;
  color: white;
  font-weight: bold;
  width: 60px;
  height: 40px;
  float: right;
  margin-left: 5px;
}

.btnEditar {
  padding: 7px;
  box-sizing: border-box;
  border: none;
  background-color: #098fff;
  border-radius: 100px;
  height: 30px;
  color: white;
  font-weight: bold;
  width: 60px;
  height: 40px;
  float: right;
  margin-left: 5px;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?6lz3f6');
  src: url('fonts/icomoon.eot?6lz3f6#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?6lz3f6') format('truetype'), url('fonts/icomoon.woff?6lz3f6') format('woff'), url('fonts/icomoon.svg?6lz3f6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-pencil:before {
  content: "\e905";
}

.icon-price-tags:before {
  content: "\e936";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-coin-dollar:before {
  content: "\e93b";
}

.icon-user:before {
  content: "\e971";
}

.icon-users:before {
  content: "\e972";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-user-minus:before {
  content: "\e974";
}

.icon-search:before {
  content: "\e986";
}

.icon-cog:before {
  content: "\e994";
}

.icon-bin2:before {
  content: "\e9ad";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}

.icon-cross:before {
  content: "\ea0f";
}
